cff-version: 1.2.0
message: "If you use this software, please cite it using the metadata from this file."
type: software
title: "{{ project_name }}"
abstract: "{{ description }}"
authors:
  - family-names: "{{ author_name.split()[-1] }}"
    given-names: "{{ author_name.split()[0] }}"
    # orcid: "https://orcid.org/0000-0000-0000-0000"
version: "0.1.0"
date-released: "2026-01-01"
# doi: "10.5281/zenodo.XXXXXXX"
url: "https://github.com/{{ github_username }}/{{ project_name }}"
repository-code: "https://github.com/{{ github_username }}/{{ project_name }}"
license: "{{ license }}"
keywords:
  - bioinformatics
  - python
